*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    color: #333;
    line-height: 1.3;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 80%;
    max-width: 1120px;
    margin: 0 auto;
}

header {
    background-color: #495057;
}

/* ________________ */
/* NAVIGATION SECTION */

.navigations {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    padding: 2.4rem;
}

h1 {
    font-size: 2.4rem;
    color: #339af0;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2.4rem;
}

.nav-link a:link, .nav-link a:visited {
    color: #fff;
    font-size: 2rem;
    text-decoration: transparent;
    transition: all .3s;
}

.nav-link a:hover, .nav-link a:active {
    border-bottom: 2px solid #339af0;
}